# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea
.venv
.vscode
output
generated

tiny-imagenet-200/
data/

flickr8k.zip
flickr30k.zip


__pycache__
